/* Custom Brand Colors */
$nuv-orange:           #E8731F;
$nuv-dusty-orange:     #F83;
$nuv-peach:            #FFB27B;
$nuv-pale-salmon:      #FFC49A;
$nuv-light-peach:      #FFECDF;
$nuv-steel:            #7B8690;
$nuv-mid-blue:         #41607A;
$nuv-dark-green-blue:  #2A4449;
$nuv-dark-navy-blue:   #253746;
$nuv-mid-green:        #46963B;
$nuv-sea-green:        #3B8E96;
$nuv-light-blue-grey:  #CDD2D7;
$nuv-light-periwinkle: #D8E0F3;
$nuv-ice-blue:         #E8F2F3;
$nuv-off-white:        #F6F7F6;
$nuv-sky-blue:         #F5F9FA;
$nuv-near-black:       #212429;
$nuv-white:            #FFF;
$nuv-black:            #000;
